<?xml version='1.0' encoding='utf-8'?>
<widget id="no.nibio.vips.observation" version="0.1.0"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>VIPS Field Observation Aapp</name>
	<description>The Field Observation app for VIPS users. 
Build it with 'npm run build' before any cordova
specific actions - so that vuejs can
compile to www folder</description>
	<author email="tor-einar.skog@nibio.no" href="https://www.nibio.no/en/employees/tor-einar-skog">Tor-Einar Skog</author>
	<author email="bhabesh.mukhopadhyay@nibio.no" href="https://nibio.no/en/employees/bhabesh-bhabani-mukhopadhyay">Bhabesh B Mukhopadhyay</author>
	<hook src="hooks/versionHook.js" type="after_prepare" />
	<icon src="static/css/images/logo_vips_new.png" />
	<content src="index.html" />
	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<plugin name="cordova-plugin-geolocation" spec="4.1.0" />
	<platform name="android">
		<allow-intent href="market:*" />
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      		<application android:usesCleartextTraffic="true" />
  		</edit-config>
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>
</widget>
